.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.box {
  text-align: center;
}

.link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 3rem;
  }
  
  .box {
    width: 100%;
  }
}
