.container {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.basecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.base span {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 1rem;
    text-align: start;
    z-index: 5;
}

.base span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: all ease-in-out .2s;
}

.base span:hover::before {
    width: 70%;
}

.base span::after {
    content: "+";
    display: inline-block;
    transition: all ease-in-out .2s;
    margin-left: 5px;
}

.base span:hover::after {
    transform: rotate(45deg);
}

.basecontainer .base:first-child {
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    transform-origin: 0% 50%;
}

.basecontainer .base:nth-child(2) {
    top: 50%;
    left: 0;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: 50% 0%;
}

.basecontainer .base:nth-child(3) {
    top: 50%;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: 50% 0%;
}

.basecontainer .base:last-child {
    bottom: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    transform-origin: 0% 50%;
}
