.logo {
  width: 50%;
}

@media screen and (max-width: 1450px) {
  .logo {
    margin-top: -5vw;
    width: 15vw;
    z-index: 5;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    margin-top: 0;
  }
}
