.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
